.header-link:hover {
    text-decoration: underline;
}

.course {
    text-align: left;
    padding: 10px;
    width: 400px;
    margin-bottom: 5px;
}

.course:hover {
    cursor: pointer;
    text-decoration: underline;
}

.course-code {
    font-weight: bold;
    font-size: 25px;
}

.course-name {
    font-style: italic;
}

.course-description {
    font-size: 18px;
}