h1 {
    font-size: 50px;
}

.intro {
    font-size: 25px;
}

.email-link:link {
   color: var(--solid-font-color); 
}

.email-link:visited {
   color: var(--solid-font-color); 
}

.wrapper {
    margin: var(--padding-medium);
    padding-left: 25%;
    padding-right: 25%;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 30px;
    }

    .intro {
        font-size: 16px;
    }

    .wrapper {
        padding-left: 5%;
        padding-right: 5%;
    }
}
