h1 {
    font-size: 50px;
    text-align: center;
    padding-top: var(--padding-big);
}

.intro {
    font-size: 30px;
    text-align: center;
}

.email-link:link {
   color: var(--solid-font-color); 
}

.email-link:visited {
   color: var(--solid-font-color); 
}

.wrapper {
    margin: var(--padding-medium)
}