.header {
  text-align: center;
  font-size: 25px;
}

.header-link {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

.header-link:hover {
  text-decoration: underline;
}

.courses-wrapper {
  text-align: center;
}

.courses {
  display: inline-block;
}

.course {
  text-align: left;
  padding: 10px;
  width: 400px;
  margin-bottom: 5px;
}

.course-code {
  font-weight: bold;
  font-size: 25px;
}

.course-name {
  font-style: italic;
}

.course-description {
  font-size: 18px;
}

.tag {
  display: inline-block;
  padding: 5px;
  margin: 4px;
  color: white;
  background-color: orange;
}