:root {
  --solid-font-color: rgba(31,31,31,.77);
  --main-background-color: #fff;
  --faded-font-color: #BFB9B9;

  --header-height: 100px;
  --padding-small: 20px;
  --padding-medium: 40px;
  --padding-big: 100px;

  --card-width: 300px;


  background-color: var(--main-background-color);
  color: var(--solid-font-color);
}

.top {
  position: relative;
  height: var(--header-height);
}

.name {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--faded-font-color);
  font-size: 40px;

  height: 100%;
  line-height: var(--header-height);
  padding-left: var(--padding-medium);
}

.header {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  float: right;
  height: 100%;
  line-height: var(--header-height);

  padding-right: var(--padding-small);
}

.header:hover .header-link {
  color: var(--faded-font-color);
}

.header-link {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--solid-font-color);
  transition: color .3s;

  padding-left: var(--padding-small);
  padding-right: var(--padding-small);

}

.header .header-link:hover {
  color: var(--solid-font-color);
  text-decoration: none;
}

.tags {
  display: flex;
}

.tag {
  display: inline-block;
  padding: 5px;
  margin: 4px;
  background-color: #00B2EE;
  color: white;
  font-weight: bold;
}

.wrapper {
  text-align: center;
}

.content {
  display: inline-block;
}

.github {
  border: 5px solid transparent;
  border-radius: 100%;
  transition-property: background-color, border-color;
  transition-duration: .3s, .3s;
}

.github:hover {
  background: #00B2EE;
  border-color: #00B2EE;
  cursor: pointer;
}

.github-big {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.github-small {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.spinning {
  animation: spin 4s infinite linear;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }	
}