:root {
  --solid-font-color: rgba(31,31,31,.77);
  --main-background-color: #fff;
  --faded-font-color: #BFB9B9;

  --header-height: 100px;
  --padding-small: 20px;
  --padding-medium: 40px;
  --padding-big: 100px;
  --card-width: 300px;

  --standard-transition-speed: .18s;

  background-color: var(--main-background-color);
  color: var(--solid-font-color);
}

.top {
  position: relative;
  height: var(--header-height);
}

.name {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--faded-font-color);
  font-size: 40px;
  height: 100%;
  line-height: var(--header-height);
  padding-left: var(--padding-medium);
}

.header {
  font-size: 20px;
  font-weight: bold;
  float: right;
  height: 100%;
  line-height: var(--header-height);
  padding-right: var(--padding-small);
}

.header:hover .header-link {
  color: var(--faded-font-color);
  fill: var(--faded-font-color);
}

.svg-link {
  fill: inherit;
  transition: inherit;
  transition: fill var(--standard-transition-speed);
}

.header-link {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--solid-font-color);
  fill: var(--solid-font-color);
  transition: color var(--standard-transition-speed);
  padding-left: var(--padding-small);
  padding-right: var(--padding-small);
}

.header .header-link:hover {
  color: var(--solid-font-color);
  fill: var(--solid-font-color);
  text-decoration: none;
}
