.projects {
    margin-top: var(--padding-small);
    text-align: center;
}

.projects .project:hover {
    color: var(--faded-font-color);
}

.projects .project:hover img {
    filter: blur(2px);
}

.project:hover {
    color: var(--solid-font-color);
    cursor: pointer;
    filter: none;
}

.projects .project:hover img {
    filter: blur(0px);
}

.project {
    display: inline-block;
    width: var(--card-width);
    padding: var(--padding-medium);
    text-align: left;
}

.project img {
    width: var(--card-width);
}

.project h2 {
    text-transform: uppercase;
    margin: 0;
    padding-left: var(--padding-small);
}

.project p {
    margin: 0;
    padding-left: var(--padding-small);
}

.stars {
    padding-bottom: var(--padding-small);
}