.projects {
    margin-top: var(--padding-small);
    text-align: center;
}

.project:hover {
    cursor: pointer;
    color: var(--solid-font-color);
}

.project {
    display: inline-block;
    width: var(--card-width);
    margin: var(--padding-medium);
    color: var(--faded-font-color);
    text-align: left;
    transition: var(--standard-transition-speed);
}

.project img {
    width: var(--card-width);
}

.project h2 {
    text-transform: uppercase;
    margin: 0;
    padding-left: var(--padding-small);
}

.project p {
    margin: 0;
    padding-left: var(--padding-small);
    font-size: 16px;
}

.stars {
    padding-bottom: var(--padding-small);
}

@media only screen and (min-width: 800px) {
    .projects {
        padding-left: var(--padding-big);
        padding-right: var(--padding-big);
    }
}